/* 
    Document   : style
    Created on : 08-12-2013, 09:03:25 PM
    Author     : Alvaro
    Description:
        Purpose of the stylesheet follows.
*/

body{
    
/*    background-image: url('http://fondopantalla.com.es/file/421/1600x1200/crop/fondo-de-pantalla-degradado-azul.jpg'); 
    background-size: 100%;*/

    
    /*background-color: blue;*/
   
    /*opacity: 0.5;*/
}

.fondo{
    
      background-image: url('../img/difuminada.JPG');
    background-size: 100%;
    
    /*position: relative;*/
    /*position:static;*/
    /*top:0;*/



    
}

.all{ 
    font-family: 'Oxygen', sans-serif;
    /*background-color: #B2EAF7;*/
    width: 100%;
    height: 100%;
    color: #9f9f9f;
    
   
    /*background-image: url('../img/difuminada.jpg');*/
    /*background-size: 100%;*/
}

.contenido{
    
    padding-bottom: 100px;
    
}


.centrar{text-align: center;}

.iz{text-align: left;}

.ju{text-align: justify;}

.altura1{margin-top:10px;}
.altura2{margin-top:20px;}
.altura3{margin-top:30px;}
.altura4{margin-top:40px;}
.altura5{margin-top:50px;}
.altura6{margin-top:60px;}
.altura7{margin-top:70px;}
.altura8{margin-top:80px;}
.altura9{margin-top:90px;}
.altura10{margin-top:100px;}

.btn a:link{
    
    text-decoration:none;
    /*background-color:#B2FF99;*/
    color:white;
}


.well_semana{
    background-color: #E6E6E6;
}

.well_concupos{
    background-color: #fcf8e3;
    color: #333;
    border-radius: 10px;
    border:1px solid #D7DF01;
    margin-bottom: 10px;
    /*opacity:0.8;*/
}

.well_cupos{
    background-color: #dff0d8;
    color: #333;
    border-radius: 10px;
    border:1px solid #04B404;
    margin-bottom: 10px;
    /*opacity:0.8;*/
}

.well_sincupos{
    background-color: #f2dede;
    color: #333;
    border-radius: 10px;
    border:1px solid #F7819F;
    margin-bottom: 10px;
    /*opacity:0.8;*/
}

.enum_user{
    font-size: 11px;
    margin-bottom: 2px;
    text-align: left;
    margin-left: 5px;
    /*background-color: #F5A9BC;*/
    /*opacity:0.8;*/
}

.btn a:visited{
    
    text-decoration:none;
    /*background-color:#B2FF99;*/
    color:white;
}

.btn a:active{
    
    text-decoration:none;
  color:white;
 
}

.btn a:hover{
    
    text-decoration:none;
  color:white;
 
}



.inicio{ 
    /*background-color: #f5f5f5;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*top:10%;*/
    /*left:35%;*/
    /*right: 35%;*/
    /*background-color: #C7F7F7;*/
    /*position: absolute;*/
    
    margin-top: 50px;
    /*opacity:0.8;*/
    
}

.inicio h1{
    
    /*color:#57CCFE;*/
    color:white;
    /*color:white;*/
    /*text-shadow:2px 2px white;*/
    /*font-weight: bold;*/
    
}

.style_user{
    
    text-transform:capitalize;
    /*background-color:#00b2d9;*/
    
}

.panel {
    
     border-bottom-color: #b5b5b5;
     border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}



.panel h2{
    
    text-decoration: underline;
    text-decoration-color: #b5b5b5;
    
}


.pie{
    
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #00b2d9;
    color:white;
    /*position: 0 0;*/
}

.pie button{
    
    color: black;
    
}

.cabecera{
    
    /*background-color:#00b2d9;*/
    background-color: #f5f5f5;
    color:#9f9f9f;
}

.planilla{
    
    width:120px;
    /*margin-right: 20px;*/
    
}

.form_ini{
    
    /*background-color: #00b2d9;*/
   /*background-color: white;*/
   background-color: #f5f5f5;
   color:#9f9f9f;
    padding-top: 40px;
   padding-bottom: 40px;
   /*color:white;*/
   /*opacity: 0.8;*/
 
   
    border-style: dotted;
    border-width: 1px;
   /*border-radius:10%;*/
}

.form_ini2{
    
    background-color: #f5f5f5;
    padding-top: 10px;
   padding-bottom: 40px;
   color:#b5b5b5;
   /*background-color: white;*/
   
    border-style: solid;
    border-width: 1px;
   /*opacity: 0.8;*/
    /*border-radius:10%;*/
}

.cuadro_turno{
    
    min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    
}



.visita{
    
    border-width: 1px;
    border-right-style: dotted;
    /*border-radius:5%;*/
    padding-right: 20px;
    
}


.title_index{
    
   background-color: #00b2d9;
   padding-top: 20px; 
   
}

.footer_null a{
    
    padding-left: 5px;
    padding-right: 5px;
    color:white;
}

.footer_null a:link{
    
    text-decoration: none;
    color:white;
    
}

.footer_null a:hover{
    
    color:#b5b5b5;
    
}

.footer_border{
    
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: white;
    padding: 10px;
}

.barra{
    
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    text-align: center;
    
}


.mis_turnos{
    min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    
}

.border_ini{
    
    margin-top: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #f5f5f5;
}


.id_credencial{
    
    color: #b5b5b5;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 100px;
}

.nombre_credencial{
    
    color:#b5b5b5;
    margin-left: 150px;
    font-size: 40px;
    
}

.carrera_credencial{
    
    color:#b5b5b5;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 150px;
    padding-bottom: 20px;
}

.credencial_all{
    
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 468px;
}