/* 
    Document   : style
    Created on : 08-12-2013, 09:03:25 PM
    Author     : Alvaro
    Description:
        Purpose of the stylesheet follows.
*/

.all{ 
    font-family: 'Oxygen', sans-serif;
    /*background-color: #B2EAF7;*/
    width: 100%;
    height: 100%;
    color: #9f9f9f;
}

.contenido{
    
    padding-bottom: 100px;
    
}


.centrar{text-align: center;}

.iz{text-align: left;}

.altura1{margin-top:10px;}
.altura2{margin-top:20px;}
.altura3{margin-top:30px;}
.altura4{margin-top:40px;}
.altura5{margin-top:50px;}
.altura6{margin-top:60px;}
.altura7{margin-top:70px;}
.altura8{margin-top:80px;}
.altura9{margin-top:90px;}
.altura10{margin-top:100px;}

.btn a:link{
    
    text-decoration:none;
    /*background-color:#B2FF99;*/
    color:white;
}

.btn a:visited{
    
    text-decoration:none;
    /*background-color:#B2FF99;*/
    color:white;
}

.btn a:active{
    
    text-decoration:none;
  color:white;
 
}

.btn a:hover{
    
    text-decoration:none;
  color:white;
 
}


.inicio{ 
    /*background-color: #f5f5f5;*/
    /*width: 100%;*/
    height: auto;
    top:10%;
    /*left:35%;*/
    /*right: 35%;*/
    /*background-color: #C7F7F7;*/
    position: absolute;
}

.inicio h1{
    
    color:#57CCFE;
    /*font-weight: bold;*/
    
}

.style_user{
    
    text-transform:capitalize;
    /*background-color:#00b2d9;*/
    
}

.panel {
    
     border-bottom-color: #b5b5b5;
     border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top: 30px;
    padding-bottom: 20px;
    
}



.panel h2{
    
    text-decoration: underline;
    text-decoration-color: #b5b5b5;
    
}


.pie{
    
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #00b2d9;
    color:white;
    /*position: 0 0;*/
}

.pie button{
    
    color: black;
    
}

.cabecera{
    
    /*background-color:#00b2d9;*/
    background-color: #f5f5f5;
    color:#9f9f9f;
}

.planilla{
    
    width:120px;
    /*margin-right: 20px;*/
    
}